@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  /*max-width: 80%;*/
  padding: 0;
  margin: 0 auto;
}

a {
  color: #2196F3;
  text-decoration: none;
}

h1.name {
  font-size: 44px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  padding: 5px;
}

.about {
  text-align: center;
  font-family: 'Calligraffitti', cursive;
  font-size: 20px;
  padding: 5px;
  margin: 0 0 5px 0;
}

img {
  max-width: 100%;
}

.footer {
  border-top: 1px solid #999;
  width: 90%;
  margin: auto;
}
.footer {
  clear: both;
  overflow: hidden;
}

.hire, .social {
  width: 49%;
}

.hire {
  display: inline-block;
  text-align: center;
  padding: 37px 0 37px 5px;
}

.social {
  display: inline-block;
  list-style: none;
  text-align: center;
  padding: 0 5px 0 0;
}

.social li {
  margin: 10px;
  display: inline-block;
}